@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <p>You are now logged on to Banking world! Please look above to the top toolbar for your options. </p>
</div>
