@model Banking.Core.Models.BankTransaction

@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>View</h1>

<h4>BankTransaction</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateTransaction">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BankTransactionID" class="control-label"></label>
                <input asp-for="BankTransactionID" class="form-control" />
                <span asp-validation-for="BankTransactionID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountNumber" class="control-label"></label>
                <input asp-for="AccountNumber" class="form-control" />
                <span asp-validation-for="AccountNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostedDate" class="control-label"></label>
                <input asp-for="PostedDate" class="form-control" />
                <span asp-validation-for="PostedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostedAmount" class="control-label"></label>
                <input asp-for="PostedAmount" class="form-control" />
                <span asp-validation-for="PostedAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransactionType" class="control-label"></label>
                <input asp-for="TransactionType" class="form-control" />
                <span asp-validation-for="TransactionType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="CreateTransaction" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
